@model WebApplication.Models.Combo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Combo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ComboName" class="control-label"></label>
                <input asp-for="ComboName" class="form-control" />
                <span asp-validation-for="ComboName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComboDetails" class="control-label"></label>
                <input asp-for="ComboDetails" class="form-control" />
                <span asp-validation-for="ComboDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCost" class="control-label"></label>
                <input asp-for="TotalCost" class="form-control" />
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCatalog" class="control-label"></label>
                <select asp-for="IdCatalog" class ="form-control" asp-items="ViewBag.IdCatalog"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
