@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="contain_menu">
    <div>Danh mục sản phẩm:</div>
    <div class="contain_menu_danhmuc">1</div>
    <div class="contain_menu_danhmuc">2</div>
    <div class="contain_menu_danhmuc">3</div>
    <div class="contain_menu_danhmuc">4</div>
    <div class="contain_menu_danhmuc">5</div>
    <div class="contain_menu_danhmuc">6</div>
</div>
<div>
    back
</div>
<div class="contain_sanpham">

    <div class="contain_1_sanpham"> sp7</div>
    <div class="contain_1_sanpham"> sp8</div>
    <div class="contain_1_sanpham"> sp9</div>
    <div class="contain_1_sanpham"> sp10</div>
    <div class="contain_1_sanpham"> sp11</div>
    <div class="contain_1_sanpham"> sp12</div>

</div>
